.large-header {
position: relative;
width: 100%;
background: #333;
overflow: hidden;
background-size: cover;
background-position: center center;
z-index: 1;
}
.growthbar .large-header {
background-image: url('../image/black.jpg');
/*background-position: center center;*/
}
.one-title {
position: absolute;
margin:0;
padding: 0;
columns: #f9f1e9;
text-align: center;
top: 60%;
left: 26%;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);
padding-left: 10px;
text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
font-weight: bold;
font-family: helvetica;
text-align:center;
background: -webkit-linear-gradient(left, #F08080 , #87CEFA);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.second-title{
position: absolute;
margin:0;
padding: 0;
columns: #f9f1e9;
text-align: center;
top: 70%;
left: 24%;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);
padding-left: 10px;
text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
font-weight: bold;
font-family: helvetica;
background: -webkit-linear-gradient(left, #CCFF99 , #DA70D6);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.three-title{
position: absolute;
margin:0;
padding: 0;
columns: #f9f1e9;
text-align: center;
top: 80%;
left: 22%;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);
padding-left: 10px;
text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
font-weight: bold;
font-family: helvetica;
background: -webkit-linear-gradient(left, #F3F9F1 , #FF3300);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.four-title{
position: absolute;
margin:0;
padding: 0;
columns: #f9f1e9;
text-align: center;
top: 90%;
left: 20%;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);
padding-left: 10px;
text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
font-weight: bold;
font-family: helvetica;
background: -webkit-linear-gradient(left, #FFFFFF , #FFCCFF);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.growthbar_title{
transition:width 2s, height 2s;
-moz-transition:width 2s, height 2s, -moz-transform 2s;
-webkit-transition:width 2s, height 2s, -webkit-transform 2s;
-o-transition:width 2s, height 2s, -o-transform 2s;
}
.growthbar_title:hover{
transform:scale(1.2);
-moz-transform:scale(1.2);
-webkit-transform:scale(1.2);
-o-transform:scale(1.2);
}
.five-title{
position: absolute;
margin:0;
padding: 0;
columns: #f9f1e9;
text-align: center;
top: 80%;
left: 76%;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);
padding-left: 10px;
text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
font-weight: bold;
font-family: helvetica;
background: -webkit-linear-gradient(left, #3399FF , #3333FF);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.six-title{
position: absolute;
margin:0;
padding: 0;
columns: #f9f1e9;
text-align: center;
top: 90%;
left: 76%;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);
padding-left: 10px;
text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
font-weight: bold;
font-family: helvetica;
background: -webkit-linear-gradient(left, #FFFFFF , #FFFFFF);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.seven-title{
position: absolute;
margin:0;
padding: 0;
columns: #f9f1e9;
text-align: center;
top: 60%;
left: 76%;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);
padding-left: 10px;
text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
font-weight: bold;
font-family: helvetica;
background: -webkit-linear-gradient(left, #66FFFF , #CC00FF);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.eight-title{
position: absolute;
margin:0;
padding: 0;
columns: #f9f1e9;
text-align: center;
top: 70%;
left: 76%;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);
padding-left: 10px;
text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
font-weight: bold;
font-family: helvetica;
background: -webkit-linear-gradient(left, #FF0033 , #FFFF66);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}